{% extends "layouts/master.twig" %}

{% block content %}
    <div class="container">
        {% if items %}
        <h1 style="margin:2rem 0; font-weight:300; text-align:center; font-size:3rem; color:#4d4d4d;">Your Cart</h1>
        <div class="cart">
            <div class="cart__item cart__item--heading">
                <div class="cart__item__box">Action</div>
                <div class="cart__item__product">Product</div>
                <div class="cart__item__box">Price</div>
                <div class="cart__item__box">Quantity</div>
                <div class="cart__item__box">Total</div>
            </div>
            {% set total = 0 %}
            {% for item in items %}
            {% set total = total + item.total %}
            <div class="cart__item">
                <div class="cart__item__box"><a href="{{ path_for('cart') }}/{{item.id}}">&#10006;</a></div>
                <div class="cart__item__product">
                    <div class="cart__item__product__image">
                        <img src="{{ base_url() }}/img/products/{{item.image}}">
                    </div>
                    <div class="cart__item__product__title">{{item.title}}</div>
                </div>
                <div class="cart__item__box">{{item.price}}</div>
                <div class="cart__item__box">{{item.quantity}}</div>
                <div class="cart__item__box">{{item.total}}</div>
            </div>
            {% endfor %}
        </div>
        <div style="margin:2rem 0; padding:2rem; border:1px solid #e1e1e1; ">
            <h1 style="font-weight:300; margin-bottom:1rem;">Cart Totals</h1>
            <hr>
            <div style="display:flex;align-items:center;justify-content:space-between; margin-top:2rem;">
                <div>Total: {{ total }}</div>
                <a href="{{ path_for('order') }}" style="border:1px solid #111; padding:0.5rem 1rem; background:#111; color:#fff; text-decoration:none;">Proceed to checkout</a>
            </div>
        </div>
        {% else %}
        <div style="display:flex;margin:8rem 0;">
            <i class="fas fa-shopping-cart" style="flex:1;font-size:10rem;text-align:center;color:#222;"></i>
            <div style="flex:1;color:#333;">
                <div style="font-size:2em;">Your cart is currently empty.</div>
                <a href="{{ path_for('products') }}" style="display:inline-block;padding:1rem 2rem; margin:2rem 0; background:#000;color:#fff;">SHOP PRODUCTS</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
