{% extends "layouts/master.twig" %}

{% block content %}
    {% include "includes/slider.twig" %}
    {% include "includes/plate.twig" %}
    <div class="container">
        <h2 class="why-us">Why us?</h2>
        <iframe style="margin:2rem auto; display:block;" width="854" height="480" src="https://www.youtube.com/embed/NLO03ofTIP4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <div class="blocks">
            <div class="block">
                <h2 class="block__title">Non-Surgical (Hair Replacement)</h2>
                <p class="block__content">Non-surgical hair replacement procedures attach a thin transparent layer of polyurethane to the scalp, forming a tight membrane which acts as a second layer of skin.</p>
            </div>
            <div class="block">
                <h2 class="block__title">Toppik Hair Building Fiber?</h2>
                <p class="block__content">Toppik Hair Building Fibers, made of colored keratin protein, blend undetectable with existing hair strands to instantly create the appearance of naturally thick, full hair. <b>Toppik</b> Hair Fibers resist wind, rain, and perspiration for long-lasting results in all conditions. Available in nine shades that can be mixed to match virtually any hair color, Hair Fibers work for all hair types and textures. Also great for part lines, covering extension tracks and touching up roots between hair color appointments. Easily washes out with shampoo.</p>
                </div>
            </div>
            <div class="block">
                <h2 class="block__title">Delivery &amp; Satisfaction </h2>
                <p class="block__content">
                   Choose Cash on Delivery and you need to pay when delivery person handed over you the product, If the client isn’t satisfied our job isn’t done, and we leave no job unfinished.
                </p>
            </div>
        </div>
        <div class="clients">
            <h2 class="clients__heading">Clients &amp; Testimonials</h2>
            <p class="clients__rate">More then 127 000 of happy customers</p>
            <div class="container">
                <div class="client">
                    <img src="{{ base_url()}}/img/misc/client.jpg" alt="" class="client__image">
                    <div class="client__info">
                        <h3>Some Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolorum minima enim. Nulla laboriosam expedita optio nobis maxime, veritatis illo.</p>
                    </div>
                </div>
                 <div class="client">
                    <img src="{{ base_url()}}/img/misc/client.jpg" alt="" class="client__image">
                    <div class="client__info">
                        <h3>Some Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolorum minima enim. Nulla laboriosam expedita optio nobis maxime, veritatis illo.</p>
                    </div>
                </div>
                 <div class="client">
                    <img src="{{ base_url()}}/img/misc/client.jpg" alt="" class="client__image">
                    <div class="client__info">
                        <h3>Some Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolorum minima enim. Nulla laboriosam expedita optio nobis maxime, veritatis illo.</p>
                    </div>
                </div>
                 <div class="client">
                    <img src="{{ base_url()}}/img/misc/client.jpg" alt="" class="client__image">
                    <div class="client__info">
                        <h3>Some Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolorum minima enim. Nulla laboriosam expedita optio nobis maxime, veritatis illo.</p>
                    </div>
                </div>
            </div>
            <a href="{{ path_for('contact') }}" class="button">Contact Us</a>
        </div>
    </div>
{% endblock %}
