{% extends "layouts/master.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include "includes/slider.twig" %}
    {% include "includes/plate.twig" %}
    <div class="container">
        <div class="blocks">
            <div class="blocks__block">
                <h2>Non-Surgical (Hair Replacement)</h2>
                <p>Non-surgical hair replacement procedures attach a thin transparent layer of polyurethane to the scalp, forming a tight membrane which acts as a second layer of skin.</p>
            </div>
            <div class="blocks__block">
                <h2>Toppik Hair Building Fiber?</h2>
                <p>Toppik Hair Building Fibers, made of colored keratin protein, blend undetectable with existing hair strands to instantly create the appearance of naturally thick, full hair. <b>Toppik</b> Hair Fibers resist wind, rain, and perspiration for long-lasting results in all conditions. Available in nine shades that can be mixed to match virtually any hair color, Hair Fibers work for all hair types and textures. Also great for part lines, covering extension tracks and touching up roots between hair color appointments. Easily washes out with shampoo.</p>
            </div>
            <div class="blocks__block">
                <h2>Delivery &amp; Satisfaction </h2>
                <p>
                   Choose Cash on Delivery and you need to pay when delivery person handed over you the product, If the client isn’t satisfied our job isn’t done, and we leave no job unfinished.
                </p>
            </div>
        </div>

        <h1 class="heading left"><b>WHY</b> INVISION?</h1>

        <iframe src="https://www.youtube.com/embed/NLO03ofTIP4" frameborder="0" allow="autoplay; encrypted-media" class="video-invision" allowfullscreen></iframe>

        <h1 class="heading right">Clients &amp; Testimonials</h1>

        <div class="clients">
            <div class="clients__rate">More than hundreds of happy customers</div>
            <div class="client">
                <img src="{{ base_url()}}/img/misc/client1.png" alt="client picture Sofia Soni" class="client__image">
                <div class="client__info">
                    <h3>Sofia Soni</h3>
                    <h4>Thanks to Invision Hair Care Center, Afghanistan</h4>
                    <blockquote><p>My hair must look good, no matter what’s my schedule. Thanks to Invision Hair Care Center, Kabul for helping me to get rid of dandruff &amp; hair loss problem.</p></blockquote>
                </div>
            </div>
            <div class="client">
                <img src="{{ base_url()}}/img/misc/client2.png" alt="client image Rohien Khan" class="client__image">
                <div class="client__info">
                    <h3>Rohien Khan</h3>
                    <h4>Excellent Replacement experience from Invision, Afghanistan</h4>
                    <blockquote><p>Since having replacement hair from invision, it has changed my life by giving me more confidence to achieve new goals. It has given me a new approach to life.</p></blockquote>
                </div>
            </div>
            <div class="client">
                <img src="{{ base_url()}}/img/misc/client3.png" alt="client image Joe Moon" class="client__image">
                <div class="client__info">
                    <h3>Joe Moon</h3>
                    <h4>Thanks to Invision hair care center for consulting me the best hair products in a very cheap price</h4>
                    <blockquote><p>Toppik has the power to instantly fill thin hair into full and I in advance I have the satisfaction to thank Invison Hair Care Center to suggested me the easy way for helping me get my style back.</p></blockquote>
                </div>
            </div>
            <div class="client">
                <img src="{{ base_url()}}/img/misc/client4.png" alt="client image Shamshad Khan" class="client__image">
                <div class="client__info">
                    <h3>Shamshad khan</h3>
                    <h4>Toppik hair building fiber is one of the best thing on earth to try!</h4>
                    <blockquote><p>After trying toppik's hair bulding fibre it feels so amazing and so real, would love to suggest their products for all others who want to try hair building fibre.</p></blockquote>
                </div>
            </div>
        </div>

        <a href="{{ path_for('contact') }}" class="button">Contact Us</a>
    </div>
{% endblock %}
