{% extends "layouts/master.twig" %}

{% block content %}
    {% include "includes/plate.twig" %}
    {% if cart_message %}
        <div style="padding:1rem; background:#000; text-align:center; color:#fff;">
            <span>{{cart_message}}</span>
            <a href="{{ path_for('cart') }}" style="color:#333;background:#fff;padding:0.5rem; margin-left:50px;font-size:0.8rem; text-decoration:none;">VIEW CART</a>
        </div>
    {% endif %}
    <div class="container">
        {% if product %}
        <div class="product">
            <div class="product__item">
                <div class="product__item__image"><img src="{{ base_url() }}/img/products/{{product.image}}"></div>
            </div>
            <div class="product__item">
                <div class="product__item__title">{{ product.title }}</div>
                <div class="product__item__price"><b>Rs</b> {{ product.price }}</div>
                <div class="product__item__description">{{ product.description }}</div>
                <form action="{{ path_for('cart') }}" method="post" class="product__item__group">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <input type="text" name="quantity" value="1" id="spinner" class="spinner">
                    <button type="submit"><span>Add to cart</span><i class="fas fa-cart-plus"></i></button>
                    {{ csrf_field | raw }}
                </form>
            </div>
        </div>
        {% endif %}
        <h1 class="related-products__title">Related Products</h1>
        <div class="related-products">
            {% for relatedProduct in relatedProducts %}
            <div class="related-products__item">
                <div class="related-products__item__image">
                    <img src="{{ base_url() }}/img/products/{{relatedProduct.image}}">
                </div>
                <div class="related-products__item__title">
                    {{relatedProduct.title}}
                </div>
                <div class="related-products__item__price">
                    <b>Rs</b>{{relatedProduct.price}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
