{% extends "layouts/master.twig" %}

{% block content %}
    <div class="container">
        <h1 class="services-banner">Services We Provide</h1>
        <div class="services">
            <div class="service">
                <img src="{{ base_url() }}/img/misc/hairreplacement.jpg" class="service__img">
                <h2 class="service__title">Non-Surgical (Hair Replacement)</h2>
                <p class="service__desc"><b>Non-Surgical (Hair Replacement) <br></b>
                Hair loss is primarily caused by a combination of aging, a change in hormones, and a family history of baldness. As a rule, the earlier hair loss begins, the more severe the baldness will become. Hair loss can also be caused by burns or trauma, in which case hair replacement is considered a reconstructive treatment. <br>

                If you and your doctor have determined that hair transplants are the best option for you, you can feel comfortable knowing that board-certified plastic surgeons have been successfully performing this type of procedure for more than thirty years. <br>

                If you’re considering hair replacement, we will give you a basic understanding of the variety of procedures involved. It can’t answer all of your questions, since a lot depends on your individual circumstances. You can ask if there is anything you don’t understand about the procedure you plan to have. <br>

                Non-surgical hair replacement procedures attach a thin transparent layer of polyurethane to the scalp, forming a tight membrane which acts as ‘a second layer of skin’. The hair replacement membrane will have previously been implanted with human hair, customised to create a near as possible match with the patients existing hair characteristics. These detailed design specifications include a site specific colour match, density selection, direction of implant, hair wave, as well as crown and parting breaks amongst other features.
                </p>
            </div>
            <div class="service">
                <img src="{{ base_url() }}/img/misc/dandruff.jpg" class="service__img">
                <div class="service__title">Dandruff Treatment</div>
                <p class="service__desc"><b>Dandruff Treatment</b><br>
                Dandruff is a common scalp condition that affects most people at some time during their lives. It usually is first noticed when the sex hormones kick in, that is, during and after puberty. Before puberty dandruff is rare. <br>
                Medical texts define dandruff as the excessive shedding of dead skin cells from the scalp.
                The P. ovale theory of dandruff is convincing, but there may be factors other than yeast fungi that promote dandruff. Some of these factors are: <br>
                1. Cold, dry weather. Dandruff is much more common in the winter where the weather outside is frightful, but the dry indoor heating is even more frightful. <br>
                2. Bad hygienic habits. Infrequent shampooing, harsh shampoos, use of the wrong conditioners, and improper rinsing can all contribute to dandruff. <br>
                3. Too frequent coloring of the hair. Coloring and all the heat-related torture that women undergo in beauty parlors certainly do not promote a healthy scalp. <br>
                4. Long-term stress and anxiety. This is a low-probability cause of dandruff but it can’t be ruled out. <br>
                5. Bad diet. A diet rich in saturated fats and trans-fatty oils causes the sebaceous glands to produce more sebum – the delicacy that P. ovale, as well as other flora, thrive on. <br>
                6. Hormonal changes. These changes, especially in a woman’s body, can accelerate skin cell cycling.
                </p>
            </div>
        </div>

        <h1 class="services-banner">What Can Be Done?</h1>
        <div class="services-box">
            <p>You only have to contact our Invision Hair Care Center, We will give you its solution.</p>
            <a href="{{ path_for('contact') }}" class="button">Contact Us</a>
        </div>

        <h1 class="services-banner">Diet</h1>
        <div class="services-box">
            <p>I’ve heard that just breathing fresh air can reduce the P. ovale population in the scalp. The problem is to teach these critters to breath fresh air.</p>

            <div class="scards">
                <div class="scard">
                    <img src="{{ base_url() }}/img/misc/p3.jpg" class="scard__img scard__img--scale">
                </div>
            </div>
        </div>

        <h1 class="services-banner">Hair Loss</h1>
        <div class="services-box">
            <p>Reinventing shampoo for fine, thinning hair. Essential minerals and biotin prevent the early stages of hair loss restores luster, body and volume apply to damp hair, lather, and rinse repeat if necessary.</p>

            <div class="scards">
                <div class="scard">
                    <h2 class="scard__title">DERMA EXFOLIATE SHAMPOO</h2>
                    <img src="{{ base_url() }}/img/misc/p1.jpg" class="scard__img">
                </div>
                <div class="scard">
                    <h2 class="scard__title">DERMA ACTIVATE SHAMPOO</h2>
                    <img src="{{ base_url() }}/img/misc/p2.jpg" class="scard__img">
                </div>
            </div>

            <a href="{{ path_for('products') }}" class="button">Shop Now</a>
        </div>
    </div>
{% endblock %}
