{% extends "layouts/admin.twig" %}

{% block admin_heading %}Home{% endblock %}

{% block admin_content %}
    <center><h1>Welcome to Admin Home</h1></center><br><hr>
    <a href="{{ base_url() }}/admin">Home</a><hr>
    <a href="{{ base_url() }}/admin/gallery">Gallery</a><hr>
    <a href="{{ base_url() }}/admin/emails">Emails</a><hr>
    <a href="{{ base_url() }}/admin/products">Products</a><hr>
    <a href="{{ base_url() }}/admin/slider">Slider</a><hr>
{% endblock %}
