{% extends "layouts/admin.twig" %}

{% block admin_heading %}Orders{% endblock %}

{% block admin_content %}
    <div class="orders">
        {% for order in orders %}
        <div class="order">
            <div class="order__item order__full black">
                <span>#{{loop.index}}</span>
            </div>

            <div class="order__item order__full">
                <span class="order__label">Name:</span>
                <span class="">{{order.fname}} {{order.lname}}</span>
            </div>

            <div class="order__item order__email">
                <span class="order__label">Email:</span>
                <span class="">{{order.email}}</span>
            </div>

            <div class="order__item order__phone">
                <span class="order__label">Phone:</span>
                <span class="">{{order.phone}}</span>
            </div>

            <div class="order__item order__city">
                <span class="order__label">City:</span>
                <span class="">{{order.city}}</span>
            </div>

            <div class="order__item order__company">
                <span class="order__label">Company:</span>
                <span class="">{{order.company}}</span>
            </div>

            <div class="order__item order__full">
                <span class="order__label">Address:</span>
                <span class="">{{order.address1}} <br> {{order.address2}}</span>
            </div>

            <div class="order__orders order__full">
                <div class="items">
                        <span><b>Title</b></span>
                        <span><b>Quantity</b></span>
                        <span><b>Price</b></span>
                    {% for item in order.items %}
                        <span>{{ item.title }}</span>
                        <span>{{item.quantity }}</span>
                        <span>{{ item.price }}</span>
                    {% endfor %}
                </div>
                <div class="total">
                    <b>Total:</b> {{ order.total }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<style>

</style>
{% endblock %}
