<footer class="footer">
    <div class="container">
        <div class="fwidgets">
            <div class="fwidgets__item">
                <h4>About InvisionHair</h4>
                <p>Invision Hair Afghanistan is a cosmetic hair restoration and pioneers of this technology in Afghanistan, Invision Hair Afghanistan provides many great products that can improve your life style and we provide best hair solution products across the country.</p>
            </div>

            <div class="fwidgets__item">
                <h4><a href="#">Sitemap &rsaquo;</a></h4>
                <ul>
                    <li><a href="{{ base_url() }}/">Home Page</a></li>
                    <li><a href="{{ base_url() }}/services">Our Services</a></li>
                    <li><a href="{{ base_url() }}/products">Our Products</a></li>
                    <li><a href="{{ base_url() }}/about">About Us</a></li>
                    <li><a href="{{ base_url() }}/contact">Contact Us</a></li>
                    <li><a href="{{ base_url() }}/admin">Webmaster</a></li>
                </ul>
            </div>

            <div class="fwidgets__item fwidgets__item--fixsize">
                <h4>Keep in touch</h4>
                <a href="#" class="sm-icon">
                    <span>Facebook</span>
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="sm-icon">
                    <span>Twitter</span>
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="#" class="sm-icon">
                    <span>Linked In</span>
                    <i class="fab fa-linkedin-in fa-2x"></i>
                </a>
                <a href="#" class="sm-icon">
                    <span>Google+</span>
                    <i class="fab fa-google-plus-g fa-2x"></i>
                </a>
                <a href="#" class="sm-icon">
                    <span>Instagram</span>
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="#" class="sm-icon">
                    <span>Pinterest</span>
                    <i class="fab fa-pinterest fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <p>&copy; 2017 InvisionHairAf, All Rights Reserved.</p>
        <p>Gul-e-Surkh Intersection 1001 Kabul-Afghanistan (+93 799 311 350)</p>
    </div>
</footer>
