<header class="header">
    <div class="container">
        <div class="topbar">
            <a href="{{ base_url() }}/" class="site-logo"><img src="{{ base_url() }}/img/logo1.png" alt=""></a>
            <button id="toggle" class="toggle">
                <i class="toggle__bar"></i>
                <i class="toggle__bar"></i>
                <i class="toggle__bar"></i>
            </button>
        </div>
        <div id="navbar" class="navbar">
            <a href="{{ base_url() }}/" class="navbar__link">Home</a>
            <a href="{{ base_url() }}/services" class="navbar__link">Services</a>
            <a href="{{ base_url() }}/products" class="navbar__link">Products</a>
            <a href="{{ base_url() }}/gallery" class="navbar__link">Gallery</a>
            <a href="{{ base_url() }}/about" class="navbar__link">About Us</a>
            <a href="{{ base_url() }}/contact" class="navbar__link">Contact Us</a>
            <a href="{{ base_url() }}/cart" class="navbar__link">Cart <i class="fas fa-shopping-cart fa-lg"></i></a>
        </div>
    </div>
</header>
